body{
    background-image: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainNavbar ul li a{
    color: #BEA96A;
    font-size: 36px;

}
.col-xs-3{
    background-color: #320F0D;
}
#profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}